.header{
 width: full;
    display: flex;
    background: var(--gray-800); 
    justify-content: center;
    height: 80px;
    padding: 1.25rem 0;
    
}
.header img {
    height: 2rem; margin-right: 0.25rem;
}