.Post{
background: var(--gray-800);
padding: 2rem 2.5rem;
border-radius: 8px;
}
.Post header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Post header time{
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: var(--gray-400);
}
.author{
    display: flex;
    gap: 1rem;
}
.avatar{
    box-sizing: initial;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 8px ;  
    border: 4px solid var(--gray-800);
    outline:2px solid var(--green-500) ;
}
.authorInfor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.authorInfor strong {
    color: var(--gray-100);
    line-height: 2;
}

.authorInfor span{
    font-size: 0.875rem;
}

.content{
  
display: flex;
flex-direction: column;
gap: 16px;
    width: 100%;
   padding: 24px 00;
border-bottom: 1px solid var(--gray-600);
}

.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}
.comment{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
}

.InputTextComment{
    width: 100%;
    height: 96px;
    padding: 13px 16px;
    background-color: var(--gray-800);
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    outline: none;
    color: var(--white);
}
.InputTextComment:focus{
   
    border-color: var(--green-500);
}

.comment button{
    width: 108px;
    height: 48px;
    border-radius: 8px;
    border: 0px;
    color: var(--white);
    background: var(--green-500);
}